* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 2rem;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    display: block;
    max-width: 100%;
}

/* font size */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}


/* header */

header {
    padding: 1rem;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1.3rem;
}

/* navbar logo */

.logo {
    background-color: deepskyblue;
    text-align: center;
    padding: 0.5rem 1rem;
}

/* navbar links */

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* navbar menu */

.menu {
    display: flex;
    gap: 1rem;
}

.menu img {
    transform: scale(1.5);
    min-width: 1.5rem;
}


/* hero */

#hero {
    margin-bottom: 10rem;
}

/* hero background*/

#hero-background {
    height: 80vh;
    background-image: url('./media/img/hero-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
}

/* hero content */

#hero-content {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}


/* store-container */

.store-container h2 {
    margin-bottom: 2rem;
}

/* store-card-container */

.store-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 10rem;
}

/* store-card */

.store-card {
    width: calc(100% / 4 - 1.5rem);
}


/* cards-container */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-bottom: 10rem;
}

/* cards */

.card {
    max-width: calc(100% / 3 - 1rem);
}

/* cards-content */

.card-content {
    padding-right: 1rem;
}


/* footer */

footer {
    padding: 2rem 5rem;
    background-color: #303030;
    color: #ffffff;
}

footer h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

footer ul li {
    font-size: 1.5rem;
}

footer ul li a {
    font-size: 1.3rem;
    color: #ffffff;
}

#footer-social ul {
    display: flex;
    gap: 1rem;
}

#footer-social h3 {
    font-size: 1.5rem;
}

#footer-social ul img {
    background-color: #fff;
    border-radius: 99px;
    padding: 1rem;
}

/* footer-links */

#footer-links {
    display: flex;
    gap: 5rem;
}

/* newsletter */

#newsletter {
    margin-top: 2rem;
}

#newsletter input[type=text] {
    padding: 0.5rem;
    border: 0;
    border-radius: 10px;
}


/* @media tablet */

@media screen and (max-width: 48rem) {
    #hero {
        margin-bottom: 5rem;
    }

    #hero-content {
        max-width: 90%;
    }


    .store-card-container {
        margin-bottom: 2rem;
    }

    .store-card {
        width: calc(100% / 2 - 1.5rem);
    }


    .cards-container {
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .card {
        max-width: calc(100% / 2 - 1rem);
    }
}

/* @media mobile */

@media screen and (max-width: 30rem) {
    .navbar ul {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }


    .store-card {
        width: calc(100% / 1);
    }


    .cards-container {
        justify-content: center;
    }

    .card {
        max-width: calc(100% / 1);
    }
}